<div class="flex-col">
  <h1 class="text-4xl bold">User Profile</h1>
  <p>Name: <%= @user.full_name %></p>
  <p>Email: <%= @user.email %></p>
  <h2 class="text-3xl">Hosted Events</h2>
  <% if @user.hosted_events.any? %>
    <ul>
      <% @user.hosted_events.each do |event| %>
        <li><%= link_to event.name, event_path(event) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No hosted events yet.</p>
  <% end %>
  <h2 class="text-3xl">Attended Events</h2>
  <% if @user.attended_events.any? %>
    <ul>
      <% @user.hosted_events.each do |event| %>
        <li><%= link_to event.name, event_path(event) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No attended events yet.</p>
  <% end %>
  
  <%= link_to 'Edit Profile', edit_users_profile_path %>
</div>