<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FOMO" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="w-full flex justify-between items-center px-8 py-4">
      <%= link_to "FOMO", events_path, method: :get, class: 'font-bold text-5xl text-red-500 hover:text-red-700' %>
      <% if user_signed_in? %>
        <div class="mx-5 font-bold">
          Welcome, 
          <%= link_to current_user.full_name, users_profile_path(current_user), class: 'hover:underline hover:text-red-500' %>
           :)
        </div>
      <% end %>
        <div class="flex gap-4 ml-auto content-center justify-end">
          <% if user_signed_in? %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "bg-red-500 px-4 py-2 text-gray-100 my-4 rounded hover:bg-red-400 hover:text-gray-600 hover:ring hover:ring-red-200" %>
          <% else %>
            <%= button_to 'Log in', new_user_session_path, class: "bg-red-500 px-4 py-2 text-gray-100 my-4 rounded" %>
            <%= link_to 'Sign up', new_user_registration_path, method: :get, class: "bg-red-500 px-4 py-2 text-gray-100 my-4 rounded" %>
          <% end %>
        </div>
    </div>
    <main class="mt-28 grid-cols-1 justify-items-stretch px-8">
      <%= yield %>
    </main>
  </body>
</html>
